VITE_MTPROTO_RELAY_URL=wss://wss.itext.ir
RELAY_ALLOWED_ORIGINS=https://tweb.itext.ir
RELAY_MAX_CONNECTIONS_PER_IP=24
RELAY_MAX_PAYLOAD_BYTES=16777216
RELAY_MAX_BUFFERED_BYTES=16777216
RELAY_HEARTBEAT_INTERVAL_MS=25000
RELAY_UPSTREAM_CONNECT_TIMEOUT_MS=7000
