tweb.itext.ir {
  encode zstd gzip
  reverse_proxy web:80
}

wss.itext.ir {
  handle /mtproto/* {
    reverse_proxy relay:3001
  }

  handle /healthz {
    reverse_proxy relay:3001
  }

  handle {
    respond 404
  }
}
